.landing-page-container {
  background-color: white;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

#hero-section {
  width: 98vw;
  height: 100vw; /* Ajusta la altura según necesites */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("/assets/PNG-ORIGIN-FOOD/SECCIONES/ORIGIN-FOODS-48.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -6rem;
  border-bottom: #016567 1px solid;
}

.hero-container {
  width: 95%;
  height: 40%; /* Ajusta la altura según necesites */
  margin-top: 15rem;
  margin-left: 4.2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-slogan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 35%;
  top: 15rem;
}

.icon-down-container {
  display: flex;
  align-items: flex-end;
}

.icon-down-hero-section {
  width: auto;
  height: 18%;
  padding-right: 3rem;
}

#quienes-somos-container {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;

  p {
    width: 60%;
    font-size: 1.5rem;
    text-align: center;
    font-family: "intro";
  }
}

.quienes-somos-title {
  width: 30%;
  height: auto;
  padding-top: 0rem;
}

.button-quienes-somos-section {
  height: 8%;
  width: 15%;
  background-color: white;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #016567;
  border-radius: 50px;
  font-size: 1.3rem;
  font-family: "Montserrat";
  font-weight: 800;
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.6s ease, box-shadow 0.8s ease;
  margin-top: 1rem;
}

.button-quienes-somos-section:hover {
  transform: scale(1.05);
}

/* PRODUCTOS Y SERVICIOS */

#productos-servicios-section {
  width: 100vw;
  height: 100%;
}

.productos-servicios-title {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
    height: 10%;
  }
}

.products-container {
  width: 100vw;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  background-color: transparent;
  transition: transform 0.6s ease, box-shadow 0.8s ease;
}

.card:hover {
  transform: scale(1.05);
}

.productos-slogan {
  color: #016567;
  font-size: 0.8rem;
  font-family: "Montserrat";
  font-weight: 900;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.figura {
  background-color: #016567;
  border-radius: 50px;
  font-size: 1.8rem;
  color: transparent;
}

#nuestro-valores-section {
  width: 100vw;
  height: auto;
  background-color: #016567;
  padding: 2rem;
}

.nuestros-valores-title {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    padding-left: 1.7rem;
    width: 50%;
    height: 10%;
  }
}

.valores-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  img {
    width: 20%;
    height: 15%;
  }
}

.valores-card {
  transition: transform 0.6s ease, box-shadow 0.8s ease;
}

.valores-card:hover {
  transform: scale(1.05);
}

#oficinas-section {
  width: 100vw;
  height: auto;
}

.oficinas-title {
  color: #016567;
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 12%;
    height: auto;
  }

  h1 {
    padding-right: 6rem;
  }
}

.oficinas-card-container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oficina-panama-card {
  background-image: url("/assets/PNG-ORIGIN-FOOD/ORIGIN-FOODS-36.png");
  background-size: contain; /* La imagen cubrirá el contenedor */
  background-position: center; /* Imagen centrada */
  background-repeat: no-repeat;
  width: 40%; /* Ocupa todo el ancho de la ventana */
  height: 90vh; /* Altura más razonable */
  color: black;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
}

.oficina-caracas-card {
  background-image: url("/assets/PNG-ORIGIN-FOOD/ORIGIN-FOODS-37.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 90vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.card-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.card-info-title {
  width: 100%;
  height: 10%;
  color: #016567;
  font-size: 0.9rem;
  z-index: 2;
  text-align: left;
  padding-left: 6.5rem;
}

.card-info-text {
  width: 100%;
  height: 15rem;
  font-size: 1.4rem;
  z-index: 5;
  padding-left: 7rem;
  text-align: left;
}

#contactenos-section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactenos-button {
  height: 5rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #016567;
  border-radius: 50px;
  border: #016567 solid 1px;
  padding: 0.5rem 6.5rem;
  font-family: "Montserrat";
  font-size: 2.5rem;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.6s ease, box-shadow 0.8s ease;
  margin-bottom: 3rem;
}

.contactenos-button:hover {
  transform: scale(1.05);
}
