@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* INTRO TIPOGRAFIA */

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Bold-Alt.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Bold-Caps.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Bold-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Book.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Book-Alt.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Book-Caps.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Book-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Light-Alt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Light-Caps.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Regular-Alt.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Regular-Caps.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("./fonts/INTRO/Intro-Regular-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* RECOLETA TIPOGRAFIA */

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/RECOLETA/Recoleta-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/RECOLETA/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/RECOLETA/recoleta.ttf") format("truetype");
  font-weight: 300; /* Light (o Normal si no especificas peso ligero) */
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
}

body {
  /* font-family: 'Intro', 'Recoleta', sans-serif; */
  font-family: "Montserrat";
  width: 100%;
  margin: 0rem;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button:hover {
  
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
